@keyframes slide-y-l {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-y-r {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-y-l {
    animation: slide-y-l 1s ease forwards;
}

.slide-y-r {
    animation: slide-y-r 1s ease forwards;
}